{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plabon Datta</title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100 border-info" id = "profile-wrapper">
            <img id="profile-pic" src="{% static 'images/mypicture.jpg' %} ">
            <hr>
            <h4>Hi! i am Plabon </h4>
                <p>  I love coding, doing resource </p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-bodyh-100 border-info">
                <h4> My First job</h4>
                <hr>
                <p>
                    Watching for a job
                </p>

                <p>
                    I am a student of 9th semester at <b>Dhaka International University</b>.
                    Now I am watching for internship in a reputed IT company. I will try my best for
                    the company.
                </p>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/profile.php?id=100009109151592"><img class="social" src="{% static 'images/fb.png'%}"></a> </li>
                    <li><a href="plabondatta26@gmail.com"><img class="social" src="{% static 'images/gmail.png'%}"></a> </li>
                    <li><a href="01797405859"><img class="social" src="{% static 'images/phone.jpg'%}"></a> </li>
                    <li><a href="https://github.com/plabondatta26/"><img class="social" src="{% static 'images/git.png'%}"></a> </li>
                </ul>

            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
            <h5> Experience as Developer</h5>
                <hr>
                <p> Fresher </p>
                <p> Working on home, making simple project using Django</p>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card card-body">
                <h5> What i know </h5>
                <hr>
                <p>
                    I know about Python, Django, Rest-Framework, HTML/CSS
                </p>
                <p>
                    PS: working on Django, Machine Learning, MySQL
                </p>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h5>How I Learn</h5>
             <hr>
            <p>
                Build ugly prototypes First
            </p>
            <p>
                I can learn just about anything by having a final product
                to tear apart piece by piece. i breako the code where i need
                to figure out why things work the way they do. Documantation is
                just reference.
            </p>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card card-body">
                <h5>My Short Term Goals</h5>
                <hr>
                <p>
                    After almost two years of supporting my system
                    at the lab I'm ready to learn something new. I'll
                    collaborating and sharing my experience with others.
                </p>
                <p>
                    Aside from building small projects I would love to enter
                    a position where I can be a part of a bigger team & learn
                    from others with more experience then myself.
                </p>
            </div>
        </div>
    </div>

</div>

</body>
</html>



